version: '3'

services:
  lightspeed-ingest:
    container_name: lightspeed-ingest
    image: projectlightspeed/ingest
    #Uncomment below to build locally
#    image: lightspeed-ingest
#    build:
#      context: ./ingest
#      dockerfile: Dockerfile
    env_file: '.env'
    restart: on-failure
    ports:
      - "${INGEST_PORT}:8084"
  
  lightspeed-react:
    container_name: lightspeed-react
    image: projectlightspeed/react
    #Uncomment below to build locally
#    image: lightspeed-react
#    build:
#      context: ./frontend
#      dockerfile: Dockerfile
    env_file: '.env'
    restart: on-failure
    ports:
      - "${WEB_PORT}:80"

  lightspeed-webrtc:
    container_name: lightspeed-webrtc
    image: projectlightspeed/webrtc
    #Uncomment below to build locally
#    image: lightspeed-webrtc
#    build:
#      context: ./webrtc
#      dockerfile: Dockerfile
    env_file: '.env'
    command: ["lightspeed-webrtc", "--addr=0.0.0.0", "--ip=${WEBSOCKET_HOST}", "--ports=20000-20100", "run"]
    restart: on-failure
    ports:
      - ${WEBSOCKET_PORT}:8080 # WebRTC
      - 65535:65535/udp # RTP
      - 20000-20100:20000-20100/tcp # WebRTC PeerConnection
      - 20000-20100:20000-20100/udp # WebRTC PeerConnection UDP
